name: CI

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Apply Signing
      if: ${{ github.event_name != 'pull_request' }}
      env:
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      run: ./.github/apply_signing.sh

    - name: Build with Gradle
      run: ./gradlew :precompose:spotlessCheck :precompose:lint :precompose:build --stacktrace --no-daemon --no-parallel

    - name: Testing
      run: ./gradlew :precompose:test --no-daemon --no-parallel

    - name: Publishing
      if: startsWith(github.ref, 'refs/tags/')
      run: ./gradlew :precompose:publish --no-daemon --no-parallel


